<section id="sub-header_pattern_2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Vecka 1 - Onsdag</h1>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section>
<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Kurs</a></li>
            <li><a href="#">Vecka 1</a></li>
            <li class="active">Onsdag</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime" datetime="08:30"><span>1.5 h</span> <span>08:30</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../../Images/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Webproduction</span>Välkomst och introduktion</h2>
                            <p>En resa i tiden, webben idag och imorgon</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="10:00"><span>1.5 h</span> <span>10:00</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../../Images/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Webproduction</span>Webbappstruktur</h2>
                            <p>Generellt om webbapplikationsstrukturer, klient/server</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="11:30"><span>1 h</span> <span>11:30</span></time>
                        <div class="cbp_tmicon timeline_icon_break"></div>
                        <div class="cbp_tmlabel">
                            <h2><span>Webproduction</span>Lunch- och kaffepaus</h2>
                            <p>Dags för lunch</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="14:30"><span>3 hours</span> <span>12:30</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../../Images/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Webproduction</span>Övning</h2>
                            <p>Få igång utvecklingsmiljö, skapa konton etc.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="15:30"><span style="color: #fff">0 hours</span> <span>15:30</span></time>
                        <div class="cbp_tmicon timeline_icon_break"></div>
                        <div class="cbp_tmlabel" style="background-color: #fff">
                        </div>
                    </li>
                </ul>
            </div>
            <aside class="col-md-4">
                <div class="box_style_1">
                    <h4>Presentation</h4>
                    <!--<h4><a href="http://slides.com/hariskljajic/android-into"><i class="icon-acrobat hidden-xs"></i>Android Intro 1.0 <i class="icon-download pull-right"></i></a></h4>
                    <h4><a href="http://slides.com/hariskljajic/androidinto2"><i class="icon-acrobat hidden-xs"></i>Android 1.1 <i class="icon-download pull-right"></i></a></h4>
                    <h4><a href="http://slides.com/hariskljajic/resources"><i class="icon-acrobat hidden-xs"></i>Resources <i class="icon-download pull-right"></i></a></h4><br>-->
                    <!-- <h4><a href=""><i class="icon-doc hidden-xs"></i>Lecture Code <i class="icon-download pull-right"></i></a></h4><br> -->
                    <!--<h4>Homework</h4>-->
                    <!-- <h4><a href=""><i class="icon-doc hidden-xs"></i>Assignment One <i class="icon-download pull-right"></i></a></h4><br> -->
                    <h4>Media</h4>
                    <div class="media">
                        <iframe width="301" height="315" src="//www.youtube.com/embed/yF5-6AcohQw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="media">
                    </div>
                </div>
                <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                        <li><a href="https://c9.io/">Cloud9</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction">Introduction to HTML</a></li>
                        <!-- <li><a href="http://developer.android.com/guide/index.html">Play around and discover</a></li>
                        <li><a href="http://developer.android.com/guide/topics/resources/providing-resources.html">Providing resources</a></li>
                        <li><a href="http://developer.android.com/guide/topics/resources/accessing-resources.html">Accessing resources</a></li>-->
                    </ul>
                </div>
            </aside>
        </div>

    </div><!-- End container -->
</section>
<div id="toTop">Back to top</div>