<section id="sub-header_pattern_2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Vecka 1 - Torsdag</h1>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section>
<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Kurs</a></li>
            <li><a href="#">Vecka 1</a></li>
            <li class="active">Torsdag</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime" datetime="08:30"><span>1 hours</span> <span>08:30</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../img/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Android Development</span>Repetition</h2>
                            <p>We will repeat earlier lectures</p>
                        </div>
                    <li>
                        <time class="cbp_tmtime" datetime="09:30"><span>2 hours</span> <span>09:30</span></time>
                        <div class="cbp_tmicon timeline_icon_test"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../img/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Android Development</span>Live coding</h2>
                            <p>I'll code by free hand and you can watch to learn and ask questions about it.</p>
                        </div>
                    </li>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="11:30"><span>1 hour</span> <span>11:30</span></time>
                        <div class="cbp_tmicon timeline_icon_break"></div>
                        <div class="cbp_tmlabel">
                            <h2><span>Android Development</span>Lunch and coffee break</h2>
                            <p>Time for lunch :D</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="15:30"><span>3 hours</span> <span>12:30</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../img/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Android Development</span>Exercise</h2>
                            <p>We will continue to exercise what we have learned and I'll be around to help out.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="15:30"><span style="color: #fff">0 hours</span> <span>15:30</span></time>
                        <div class="cbp_tmicon timeline_icon_break"></div>
                        <div class="cbp_tmlabel" style="background-color: #fff">
                        </div>
                    </li>
                </ul>
            </div>
            <aside class="col-md-4">
                <div class="box_style_1">
                    <h4>Slides</h4>
                    <h4><a href="http://slides.com/hariskljajic/codequality#/"><i class="icon-acrobat hidden-xs"></i>Code Quality <i class="icon-download pull-right"></i></a></h4><br>
                    <!-- <h4><a href=""><i class="icon-doc hidden-xs"></i>Lecture Code <i class="icon-download pull-right"></i></a></h4><br> -->
                    <h4>Homework</h4>
                    <span style="color:red;">Deadline: 2014-09-05 00:00</span>
                    <!--<b style="color:red;">Assignment 1 will be announced this evening.</b> -->
                    <h4><a href="./Assignment1a.pdf"><i class="icon-doc hidden-xs"></i>Assignment 1a <i class="icon-download pull-right"></i></a></h4><br>
                    <h4>Videos</h4>
                    <div class="media">
                        <iframe width="301" height="315" src="//www.youtube.com/embed/orxzMxFUbB4" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="media">
                        <iframe width="301" height="315" src="//www.youtube.com/embed/vpppLKnyLOw" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                        <li><a href="http://en.wikipedia.org/wiki/Coding_conventions">Coding conventions</a></li>
                        <li><a href="https://source.android.com/source/code-style.html#use-javadoc-standard-comments">Android Standard Comments </a></li>
                    </ul>
                </div>
            </aside>
        </div>

    </div><!-- End container -->
</section>
<div id="toTop">Back to top</div>
