<section id="sub-header_pattern_2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Vecka 3 - Onsdag</h1>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section>
<section id="main_content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Kurs</a></li>
            <li><a href="#">Vecka 3</a></li>
            <li class="active">Onsdag</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime" datetime="08:15"><span>1.5 h</span> <span>08:15</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../../Images/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Webproduction</span>Live kodning</h2>
                            <p>Demonstrera det vi gått igenom, ta emot frågor och besvara.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="10:00"><span>1.5 h</span> <span>10:00</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../../Images/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Webproduction</span>Live kodning</h2>
                            <p>Live kodning forts.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="11:30"><span>1 h</span> <span>11:30</span></time>
                        <div class="cbp_tmicon timeline_icon_break"></div>
                        <div class="cbp_tmlabel">
                            <h2><span>Webproduction</span>Lunch- och kaffepaus</h2>
                            <p>Dags för lunch</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="14:30"><span>3 hours</span> <span>12:30</span></time>
                        <div class="cbp_tmicon timeline_icon_audio"></div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs">Speaker <strong>Haris Kljajic</strong><img src="../../Images/haris.png" alt="" class="img-circle speaker"></div>
                            <h2><span>Webproduction</span>Övning</h2>
                            <p>Testa använda HTML video, audio/Fortsätt med laborationen</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="16:00"><span style="color: #fff">0 hours</span> <span>16:00</span></time>
                        <div class="cbp_tmicon timeline_icon_break"></div>
                        <div class="cbp_tmlabel" style="background-color: #fff">
                        </div>
                    </li>
                </ul>
            </div>
            <aside class="col-md-4">
                <div class="box_style_1">
                    <h4>Presentation</h4>
                    
                    <h4>I kurslitteraturen</h4>
                    <h4>Media</h4>
                    <div class="media">

                    </div>
                    <div class="media">
                    </div>
                </div>
                <div class="box_style_1">
                    <h4>Nyttiga länkar</h4>
                    <ul class="list_1">

                    </ul>
                </div>
            </aside>
        </div>

    </div><!-- End container -->
</section>
<div id="toTop">Back to top</div>