<section id="sub-header_pattern_2">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Kursöversikt</h1>
                <p class="lead">En åtta veckors översikt av kursen.</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section>

<section id="strips-course" class="style_2">

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="./course-overview">Kurs</a></li>
            <li class="active">Kursöversikt</li>
        </ol>
        <!-- Week 1 -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_1_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_one"></a>
                <h3><em>Vecka 1</em> Välkomst och intro</h3>

                <p>Denna vecka hälsar vi samtliga välkomna till kursen och går igenom kursens upplägg, betygskalor samt vad kursen kommer handla om och lära ut.
                    Vi tar oss på en resa genom tiden från 1990 fram till idag. Lektionen behandlar också hur webben ser ut idag samt i framtiden. En grundlig genomgång ges på hur ex. webben är uppbyggd, olika terminologier och utvecklingsmiljöer.</p>
                Vi kommer senare under veckan att smått börja kolla på HTML och dess syntax.
                <p>
                    
                    <br>Ämnen denna vecka:
                    <strong>En resa i tiden, Webben idag och imorgon, Webbapplikationsstruktur, Klient/Server, HTML, Utvecklingsmiljö, Versionshantering</strong>
                </p>

                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 26 Augusti 2015</li><li><i class="icon-calendar"></i> 27 Augusti 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Antal timmar: 16 timmar</a>
                    </li>

                </ul>
                <a href="./week-one/day-one" class="button_medium">Onsdag</a>
                <a href="./week-one/day-two" class="button_medium">Torsdag</a>
            </div>
        </article><!-- End strip-program  -->
        <!-- Week 2 -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_2_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_two"></a>
                <h3><em>Vecka 2</em> HTML </h3>

                <p>Denna vecka kommer bli en fortsättning på förra veckan där vi i slutet av veckan började att titta på grunddelarna i HTML-kod. Vi kommer fördjupa oss mer i olika taggar, attribut samt att det blir mer demostrationer av hur
                de olika taggarna och attributen kan användas. Mot slutet av vecka kommer vi börja kika närmare på stilmallar med hjälp av CSS. </p>

                <p>
                    <br>Ämnen denna vecka:
                    <strong>Formulär, Bilder, Listor, Inmatningsfält, Dropdownlista, Radioknappar, Kryssrutor, Knappar, Tabeller, Vektor-/rastergrafik, Länkar, Video, Ljud, Nya HTML5 taggar,  CSS, Stilmallar,</strong>
                </p>

                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 31 Augusti 2015</li><li><i class="icon-calendar"></i> 02 September 2015</li><li><i class="icon-calendar"></i> 03 September 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Antal timmar: 24 timmar</a>
                    </li>

                </ul>
                <a href="./week-two/day-one" class="button_medium">Måndag</a>
                <a href="./week-two/day-two" class="button_medium">Tisdag</a>
                <a href="./week-two/day-three" class="button_medium">Torsdag</a>
            </div>

        </article><!-- End strip-program  -->
        <!-- Week 3 -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_3_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_three"></a>
                <h3><em>Vecka 3</em> CSS</h3>

                <p>
                    Denna vecka kommer bli en fortsättning på förra veckan där vi i slutet av veckan började
                    att titta på grunddelarna i CSS. Vi kommer fördjupa oss mer i olika fonter, färger, mediatyper, stilmallar, sprites, positioneringar 
                    samt att det blir mer demostrationer av hur de olika delarna fungerar.
                    Mot slutet av vecka kommer vi börja kika närmare på anpassning för mobila enheter.
                </p>

                <p>
                    <br>Ämnen denna vecka:
                    <strong>Sprites, Positionering, Media Queries, Färger, Stilmallar, Lokala, interna, externa, Mediatyper, Selektorer- Taggselektorer- Klasselektorer- ID-selektorer, Egenskapsarv, Kombinatorer, Specificitet, Ramverk</strong>
                </p>
                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 07 September 2015</li><li><i class="icon-calendar"></i> 09 September 2015</li><li><i class="icon-calendar"></i> 11 September 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Duration: 24 timmar</a>
                    </li>
                </ul>
                <a href="./week-three/day-one" class="button_medium">Måndag</a>
                <a href="./week-three/day-two" class="button_medium">Onsdag</a>
                <a href="./week-three/day-three" class="button_medium">Fredag</a>
            </div>
        </article><!-- End strip-program  -->
        <!-- Week 4 -->
        <article class="row notActive">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_4_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_four"></a>
                <h3><em>Vecka 4</em> Webbteknik</h3>

                <p>-</p>

                <p>
                    -

                    <br>Ämnen denna vecka:
                    <strong>Från klient till server till klient, Webbservrar, Webbläsare, Standarder på webben, W3C, HTML5, Tillgänglighet, Sökmotoroptimering</strong>
                </p>
                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 14 September 2015</li><li><i class="icon-calendar"></i> 16 September 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Duration: 16 timmar</a>
                    </li>
                </ul>
                <a href="./week-four/day-one" class="button_medium">Måndag</a>
                <a href="./week-four/day-two" class="button_medium">Onsdag</a>
            </div>
        </article><!-- End strip-program  -->
        <!-- Week 5 -->
        <article class="row notActive">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_5_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_five"></a>
                <h3><em>Vecka 5</em> Javascript</h3>

                <p>-</p>

                <p>
                    -

                    <br>Ämnen denna vecka:
                    <strong>Javascript, JQuery</strong>
                </p>
                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 21 September 2015</li><li><i class="icon-calendar"></i> 23 September 2015</li><li><i class="icon-calendar"></i> 25 September 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Duration: 24 timmar</a>
                    </li>
                </ul>
                <a href="./week-five/day-one" class="button_medium">Måndag</a>
                <a href="./week-five/day-two" class="button_medium">Onsdag</a>
                <a href="./week-five/day-two" class="button_medium">Fredag</a>
            </div>
        </article><!-- End strip-program  -->
        <!-- Week 6 -->
        <article class="row notActive">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_6_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_six"></a>
                <h3><em>Vecka 6</em> Mobile First </h3>
                <p>-</p>

                <p>
                    -

                    <br>Ämnen denna vecka:
                    <strong>Javascript, JQuery</strong>
                </p>
                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 29 September 2015</li><li><i class="icon-calendar"></i> 01 Oktober 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Duration: 16 timmar</a>
                    </li>
                </ul>
                <a href="./week-six/day-one" class="button_medium">Tisdag</a>
                <a href="./week-six/day-two" class="button_medium">Torsdag</a>
            </div>
        </article><!-- End strip-program  -->
        
        <!-- Week 7 -->
        <article class="row notActive">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_7_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_seven"></a>
                <h3><em>Vecka 7</em> Ramverk </h3>

                <p>-</p>

                <p>
                    -

                    <br>Ämnen denna vecka:
                    <strong>Bootstrap, JQuery m.fl</strong>
                </p>
                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 05 Oktober 2015</li><li><i class="icon-calendar"></i> 07 Oktober 2015</li><li><i class="icon-calendar"></i> 09 Oktober 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Duration: 24 timmar</a>
                    </li>
                </ul>
                <a href="./week-seven/day-one" class="button_medium">Måndag</a>
                <a href="./week-seven/day-two" class="button_medium">Onsdag</a>
                <a href="./week-seven/day-two" class="button_medium">Fredag</a>
            </div>
        </article><!-- End strip-program  -->
        
        <!-- Week 8 -->
        <article class="row notActive">
            <div class="col-md-3 col-sm-3 hidden-xs text-center"><img src="~/Content/img/number_8_small.png" alt=""></div>
            <div class="col-md-9 col-sm-9">
                <a name="week_eight"></a>
                <h3><em>Vecka 8</em> Presentation </h3>

                <p>-</p>

                <p>
                    -

                    <br>Ämnen denna vecka:
                    <strong>-</strong>
                </p>
                <ul class="data-lessons">
                    <li class="po-markup">
                        <ul class="list_po_body"><li><i class="icon-calendar"></i> 12 Oktober 2015</li><li><i class="icon-calendar"></i> 13 Oktober 2015</li><li><i class="icon-calendar"></i> 16 Oktober 2015</li></ul>
                    </li>
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)"><i class="icon-clock"></i>Duration: 20 timmar</a>
                    </li>
                </ul>
                <a href="./week-eight/day-one" class="button_medium">Måndag</a>
                <a href="./week-eight/day-two" class="button_medium">Tisdag</a>
                <a href="./week-eight/day-two" class="button_medium">Fredag</a>
            </div>
        </article><!-- End strip-program  -->


    </div>
</section>
